$theme-dark: #333;
$theme-light: #fff;
$theme-primary: #ef8f9d;
$theme-secondary: #95e4f9;

$font-heading: "Fira Sans", sans-serif;
$font-heading-weight: 700;
$font-heading-style: normal;

$font-paragraph: "Fira Sans", sans-serif;
$font-paragraph-style: normal;
$font-paragraph-weight: 300;

$desktop: 1200px;
